h1{
			font-size: 40px;
			color:  darksalmon;
		}
		h2{
			color: mediumvioletred;
		}

		.big{
			font-size: 60px;
		}
		.uppercase{
			text-transform: uppercase;
		}
		h1 span{
			color:  violet;
		}